* {
  box-sizing: border-box;
}
.title {
  margin: auto;
  width: 50%;
  text-align: center;
}
.title h2 {
  font-size: 2.5rem;
}
.underline {
  width: 6rem;
  height: 0.25rem;
  margin: auto;
  background-color: #49a6e9;
}

.img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
footer {
  padding: 1.5rem;
}
.single-tour {
  margin-top: 3rem;
  background-color: white;
  border-radius: 5px;
}
.tour-info {
  display: flex;
  justify-content: space-between;
}
.tour-price {
  background-color: #ebf7ff;
  color: #49a6e9;
  padding: 0.25rem 0.5rem;
}
section {
  width: 40%;
  margin: auto;
}
.btn-change {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
  color: #49a6e9;
}
.btn-notInter {
  display: block;
  width: 200px;
  margin: 1rem auto 0;
  color: #bb2525;
  letter-spacing: 0.1rem;
  background: transparent;
  border: 1px solid #bb2525;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
